<h2>Index for games</h2>

<% @games.each do |game| %>
    <a href="/games/<%= game.id %>"><%= game.created_at %></a>
    <%= game.title %>
    <p>Owned By <%= game.user_id %></p>
    

    <br><br>
<% end %>

