<h2>Index for games</h2>

<% @games.each do |game| %>
    <a href="/games/<%= game.id %>"><%= game.created_at %></a>
    <%= game.title %>
    <p>By <%= game.users.username unless game.users.blank? %></p>

    <br><br>
<% end %>

