<h2>Enter a New Game Into Your Collection</h2>

    <form class="" action="/games" method="POST">
        <label for="title">Title: </label>
        <input type="text" name="title" value="">
        <input type="submit" id="submit" value="Add Game">
    </form>
