<h2>Enter a Username and Password to Create an Account</h2>

    <form class="" action="/users" method="POST">
        <label for="username">Username: </lable>
        <input type="text" name="username" value="">
        <label for="password">Password: </lable>
        <input type="text" name="password" value="">
        <input type="submit" id="submit" value="Create Account">
    
    </form>